/*     
font-family: 'Open Sans', sans-serif;

font-family: 'Raleway', sans-serif;
 */


.page {
    background: hsl(218, 28%, 13%);
    margin: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
}


/*---------------------
TYPOGRAPHY
----------------------*/

.special-typo {
    font-family: 'Raleway', sans-serif;
    color: rgba(255, 255, 255, 0.938);
}

.body-typo {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.938);
    line-height: 1.6em;
}

/*---------------------
COMPONENTS GEOMETRY
----------------------*/

.page__header {
    margin-bottom: 4em;
}

.main__intro {
    margin-bottom: 8em;
}

.intro__btn {
    margin: 2em auto 0;
    display: block;

}

/*---------------------
HEADER
----------------------*/

.header {
    padding: 2em 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.header__logo {
    width: 8rem;
}

.header__list {
    display: flex;
    margin: 0;
}

.header__item {
    list-style: none;
    padding: 0;
    margin-left: 3vw;
}

.header__link {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: inherit;
    transition: color 100ms ease-in-out;
}

.header__link:hover,
.header__link:focus {
    color: hsl(176, 68%, 64%);
}

/*---------------------
INTRO
----------------------*/

.intro {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
}

.intro__title {
    font-size: 1.8rem;
    line-height: 1.6em;
}

.intro__body {}

/*---------------------
btn
----------------------*/

.btn {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    padding: 1.25em 6em;
    background: rgb(101, 226, 217);
    background: linear-gradient(90deg, rgba(101, 226, 217, 1) 0%, rgba(51, 158, 204, 1) 100%);
    border-radius: 5em;
    max-width: 7em;
}